/ {
    leds {
        compatible = "worldsemi,ws2812";
        label = "WS2812";
        chain-length = <10>; // Number of LEDs
        spi-bus = <&spi0>;
        data-gpios = <&gpio0 3 GPIO_ACTIVE_HIGH>; // DATA_PIN = GPIO3
    };
};

&spi0 {
    status = "okay";
};

&uart0 {
    status = "okay";
    current-speed = <115200>;
};
